.forgetpasswordbox {
  margin-top: 5rem;
  margin-left: 30rem;
  position: absolute;
  max-width: 300px;
  height: auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 28);
  background-color: whitesmoke;
  border-radius: 20px;
}
